openapi: '3.0.2'

info:
  title: Template API Documentation
  description: Manage API endpoints.
  version: 0.0.1

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

security:
  - BearerAuth: []

servers:
  - url: https://www.kuliah-oskhar.my.id/api/v1
  - url: http://localhost:8000/api/v1

paths:
  # Write your own API endpoints
  /auth/login:
    # endpoint GET /buku
    post:
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: 'admin@example.com'
                password:
                  type: string
                  example: 'admin'
                is_remember_me:
                  type: boolean
                  example: true
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ0ZXN0IiwiaWF0IjoxNjI0MDM0MjU5LCJleHAiOjE2MjQwMzQ5NTl9'
  /auth/reset-password:
    # endpoint GET /buku
    post:
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  example: '123456'
                new_password:
                  type: string
                  example: '123456'
                confirm_password:
                  type: string
                  example: '123456'
      responses:
        200:
          content:
  /auth/refresh-token:
    # endpoint GET /buku
    post:
      tags:
        - Authentication
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ0ZXN0IiwiaWF0IjoxNjI0MDM0MjU5LCJleHAiOjE2MjQwMzQ5NTl9'

  /auth/logout:
    # endpoint GET /buku
    post:
      tags:
        - Authentication
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Logout Success'
  /auth/user:
    # endpoint GET /buku
    get:
      tags:
        - Authentication
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Name
                  email:
                    type: string
                    example: email@example.com
                  is_admin:
                    type: boolean
                    example: true
                  created_at:
                    type: string
                    example: 2023-01-01 00:00:00
                  updated_at:
                    type: string
                    example: 2023-01-01 00:00:00
                  deleted_at:
                    type: string
                    example: 2023-01-01 00:00:00

  /incident:
    get:
      summary: Get all incidents
      tags:
        - incident
      parameters:
        - in: query
          name: length
          schema:
            type: integer
          description: Jumlah data yang ingin ditampilkan
      responses:
        '200':
          description: List of incidents
          content:
          application/json:
            schema:
              type: object
              properties:
                current_page:
                  type: integer
                  example: 1
                total_pages:
                  type: integer
                  example: 1
                total_data:
                  type: integer
                  example: 1
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      subject:
                        type: string
                        example: Subject
                      status:
                        type: string
                        example: Submitted
                      comment:
                        type: string
                        example: Comment
                      created_at:
                        type: string
                        example: 2023-01-01 00:00:00
                      reporter:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Name
                      resolver:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Name
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Name
    post:
      tags:
        - incident
      summary: Create a new incident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subject
                - description
                - status
              properties:
                subject:
                  type: string
                description:
                  type: string
                status:
                  type: string
      responses:
        '201':
          description: Incident created

  /incident/category:
    get:
      tags:
        - incident
      summary: Get incident categories
      responses:
        '200':
          description: List of categories
          content:
          application/json:
            schema:
              type: object
              properties:
              id:
               type: int
               example: 1
              name:
               type: string
               example: Error machine

  /incident/{id}:
    get:
      tags:
      - incident
      summary: Get incident by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Single incident
          content:
          application/json:
            schema:
              type: object
              properties:
                current_page:
                  type: integer
                  example: 1
                total_pages:
                  type: integer
                  example: 1
                total_data:
                  type: integer
                  example: 1
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      subject:
                        type: string
                        example: Subject
                      status:
                        type: string
                        example: Submitted
                      comment:
                        type: string
                        example: Comment
                      created_at:
                        type: string
                        example: 2023-01-01 00:00:00
                      reporter:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Name
                      resolver:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Name
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Name
    delete:
      tags:
        - incident
      summary: Delete incident by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '202':
          description: Deleted

  /incident/status/{id}:
    put:
      tags:
        - incident
      summary: Update incident status
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
      responses:
        '200':
          description: Status updated

  /incident/worker/{id}:
    put:
      tags:
        - incident
      summary: Update incident worker comment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comment
              properties:
                comment:
                  type: string
      responses:
        '200':
          description: Worker comment updated
  /request-service:
    get:
      tags:
        - request-service
      summary: Get data
      description: >-
        This is a GET request and it is used to "get" data from an endpoint.
        There is no request body for a GET request, but you can use query
        parameters to help specify the resource you want data on (e.g., in this
        request, we have `id=1`).
        A successful GET response will have a `200 OK` status, and should
        include some kind of response body - for example, HTML web content or
        JSON data.
      parameters:
        - name: length
          in: query
          schema:
            type: integer
          example: '5'
        - name: search
          in: query
          schema:
            type: string

      responses:
        '200':
          description: Successful response
          content:
            application/json: {}

    post:
      tags:
        - request-service
      summary: Post data
      description: >-
        This is a POST request, submitting data to an API via the request body.
        This request submits JSON data, and the data is reflected in the
        response.
        A successful POST request typically returns a `200 OK` or `201 Created`
        response code.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                subject: Nak minta uang
                description: Main production server is not responding to ping
                category_id:
                  - 1
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}

  /request-service/{id}:
    get:
      tags:
        - request-service
      summary: Get data By Id
      description: >-
        This is a GET request and it is used to "get" data from an endpoint.
        There is no request body for a GET request, but you can use query
        parameters to help specify the resource you want data on (e.g., in this
        request, we have `id=1`).
        A successful GET response will have a `200 OK` status, and should
        include some kind of response body - for example, HTML web content or
        JSON data.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /request-service/category:
    get:
      tags:
        - request-service
      summary: Get Category
      description: >-
        This is a GET request and it is used to "get" data from an endpoint.
        There is no request body for a GET request, but you can use query
        parameters to help specify the resource you want data on (e.g., in this
        request, we have `id=1`).
        A successful GET response will have a `200 OK` status, and should
        include some kind of response body - for example, HTML web content or
        JSON data.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /request-service/status/{id}:
    put:
      tags:
        - request-service
      summary: Update data status
      description: >-
        This is a PUT request and it is used to overwrite an existing piece of
        data. For instance, after you create an entity with a POST request, you
        may want to modify that later. You can do that using a PUT request. You
        typically identify the entity being updated by including an identifier
        in the URL (eg. `id=1`).
        A successful PUT request typically returns a `200 OK`, `201 Created`, or
        `204 No Content` response code.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                status: in_progress
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /request-service/worker/{id}:
    put:
      tags:
        - request-service
      summary: Update data worker
      description: >-
        This is a PUT request and it is used to overwrite an existing piece of
        data. For instance, after you create an entity with a POST request, you
        may want to modify that later. You can do that using a PUT request. You
        typically identify the entity being updated by including an identifier
        in the URL (eg. `id=1`).
        A successful PUT request typically returns a `200 OK`, `201 Created`, or
        `204 No Content` response code.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                comment: Saya yang mengerjakan ini
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /request-service/{id}:
    delete:
      tags:
        - request-service
      summary: Delete data
      description: >-
        This is a DELETE request, and it is used to delete data that was
        previously created via a POST request. You typically identify the entity
        being updated by including an identifier in the URL (eg. `id=1`).
        A successful DELETE request typically returns a `200 OK`, `202
        Accepted`, or `204 No Content` response code.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}

  /problem:
    get:
      tags:
        - Problem
      summary: Get data
      description: >-
        This is a GET request and it is used to "get" data from an endpoint.
        There is no request body for a GET request, but you can use query
        parameters to help specify the resource you want data on (e.g., in this
        request, we have `id=1`).
        A successful GET response will have a `200 OK` status, and should
        include some kind of response body - for example, HTML web content or
        JSON data.
      parameters:
        - name: length
          in: query
          schema:
            type: integer
          example: '5'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Problem
      summary: Post data
      description: >-
        This is a POST request, submitting data to an API via the request body.
        This request submits JSON data, and the data is reflected in the
        response.
        A successful POST request typically returns a `200 OK` or `201 Created`
        response code.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                subject: Saya Melaporkan masalah
                description: Main production server is not responding to ping
                category_id:
                  - 1
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /problem/{id}:
    get:
      tags:
        - Problem
      summary: Get data By Id
      description: >-
        This is a GET request and it is used to "get" data from an endpoint.
        There is no request body for a GET request, but you can use query
        parameters to help specify the resource you want data on (e.g., in this
        request, we have `id=1`).
        A successful GET response will have a `200 OK` status, and should
        include some kind of response body - for example, HTML web content or
        JSON data.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Problem
      summary: Delete data
      description: >-
        This is a DELETE request, and it is used to delete data that was
        previously created via a POST request. You typically identify the entity
        being updated by including an identifier in the URL (eg. `id=1`).
        A successful DELETE request typically returns a `200 OK`, `202
        Accepted`, or `204 No Content` response code.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /problem/status/{id}:
    put:
      tags:
        - Problem
      summary: Update data status
      description: >-
        This is a PUT request and it is used to overwrite an existing piece of
        data. For instance, after you create an entity with a POST request, you
        may want to modify that later. You can do that using a PUT request. You
        typically identify the entity being updated by including an identifier
        in the URL (eg. `id=1`).
        A successful PUT request typically returns a `200 OK`, `201 Created`, or
        `204 No Content` response code.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                status: closed
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /problem/worker/{id}:
    put:
      tags:
        - Problem
      summary: Update data worker
      description: >-
        This is a PUT request and it is used to overwrite an existing piece of
        data. For instance, after you create an entity with a POST request, you
        may want to modify that later. You can do that using a PUT request. You
        typically identify the entity being updated by including an identifier
        in the URL (eg. `id=1`).
        A successful PUT request typically returns a `200 OK`, `201 Created`, or
        `204 No Content` response code.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                comment: Saya yang mengerjakan ini
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
